<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">
            <img src="img/gimbo-placeholder.png" alt="gimbo-slice logo">
        </a> -->

        <!-- Hamburger menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

            <!-- Nav items -->
            <ul class="navbar-nav col-md-8 mx-auto fs-6">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="commands/listing">Commands</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
TODO: fix hamburger menu styling
-->

</body>
</html>