body {
    background-color: #000000 !important;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

main {
    padding-top: 30px;
}

/* @media (max-width: 980px) {
    body {
        padding-top: 0;
    }
} */

/*
TODO: figure out CSS issue
TODO: change colors
*/