body {
    background-color: #000000 !important;
    color: white;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

main {
    padding-top: 30px;
}

/* @media (max-width: 980px) {
    body {
        padding-top: 0;
    }
} */

.text-center {
    text-align: center;
}